@model Xpress.Web.Data.Entities.Delivery

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendDate" class="control-label"></label>
                <input asp-for="SendDate" class="form-control" />
                <span asp-validation-for="SendDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceLatitude" class="control-label"></label>
                <input asp-for="SourceLatitude" class="form-control" />
                <span asp-validation-for="SourceLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceLongitude" class="control-label"></label>
                <input asp-for="SourceLongitude" class="form-control" />
                <span asp-validation-for="SourceLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetLatitude" class="control-label"></label>
                <input asp-for="TargetLatitude" class="form-control" />
                <span asp-validation-for="TargetLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetLongitude" class="control-label"></label>
                <input asp-for="TargetLongitude" class="form-control" />
                <span asp-validation-for="TargetLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commission" class="control-label"></label>
                <input asp-for="Commission" class="form-control" />
                <span asp-validation-for="Commission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissionBilled" class="control-label"></label>
                <input asp-for="CommissionBilled" class="form-control" />
                <span asp-validation-for="CommissionBilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
